
body {
    margin: 0px;
}

h1 {
    font-family: 'Futura';
    margin: 1.5rem;
    font-size: 2vw;
}

#bgPokemon {
    background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.52), transparent),
    url('../imagens/temosQuePegar.png');
    width: 100%;
    height: 40rem;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    white-space: pre-line;
}

.textoImagem1 {
    font-size: 4vw;
    font-weight: bold;
    padding-left: 2rem;
    margin: 0rem;
    width: 50%;
}

.textoImagem2 {
    font-size: 1.75vw;
    font-weight: lighter;
    padding-left: 2rem;
    margin: 0rem;
    width: 50%;
}

.pokedex {
    margin: 3rem;
}

.verMais {
   display: flex;
   justify-content: flex-end;
   width: 100%;
   color:rgb(101, 101, 216);

}

.listaPokemons {
    flex-direction: row;
}

.verMaisTexto {
    font-size: 1.5vw;
    font-weight: bold;
}

.cadastro {
    background-color: #306CB4;
}

.cadastre {
    color:white;
    font-weight: bold;
    padding: 3rem;
}

.botaoConcluir { 
    box-shadow: 5.6533331871032715px 5.6533331871032715px 12.719999313354492px 0px rgba(255, 255, 255, 0.36);
}